services:
    backend:
        build:
            context: .
            dockerfile: backend/Dockerfile
        container_name: chess-backend
        restart: unless-stopped
        ports:
            - "127.0.0.1:8000:8000"
        networks:
            - chess-network
        environment:
            - PORT=8000

    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile
        container_name: chess-frontend
        ports:
            - "127.0.0.1:3001:3000"
        environment:
            - NODE_ENV=production
            - PORT=3000
            - ORIGIN=https://hcbull.com
            - BASE_PATH=/chess
            - BACKEND_HOST=chess-backend
            - BACKEND_PORT=8000
            - PUBLIC_BACKEND_HOST=localhost
            - PUBLIC_BACKEND_PORT=8000
        depends_on:
            - backend
        restart: unless-stopped
        networks:
            - chess-network

networks:
    chess-network:
        driver: bridge
