services:
    chess:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: chess-app
        restart: unless-stopped
        ports:
            - "127.0.0.1:3001:3000"
        environment:
            - NODE_ENV=production
            - ORIGIN=https://hcbull.com
            - BASE_PATH=/chess

networks:
    chess-network:
        driver: bridge
