[package]
name = "chess"
version = "0.2.0"
edition = "2021"


[dependencies]
serde_json = "1.0.145"
serde = { version = "1.0.228", features = ["derive"] }
serde_repr = "0.1"

[lints.clippy]
pedantic = "deny"
nursery = "deny"
unwrap_used = "warn"
