@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  @apply bg-gray-900;
} */

html {
	-webkit-tap-highlight-color: rgba(128, 128, 128, 0.5);
}

.piece-source .piece-image {
	opacity: 0.7;
	transition: opacity 300ms ease-in-out;
}

.piece-destination .piece-image {
	animation: appear 300ms ease-in-out forwards;
}

.piece-moving {
	transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.piece-dragging {
	opacity: 0.8;
	transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes appear {
	from {
		opacity: 0;
		transform: scale(0.8);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

/* Add a hover effect for pieces */
[draggable="true"]:hover {
	transform: scale(1.05);
	transition: transform 200ms ease-in-out;
}

@keyframes invalidMove {
	0%,
	100% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-2px);
	}
	75% {
		transform: translateX(2px);
	}
}

.invalid-move {
	animation: invalidMove 0.3s ease-in-out;
}

.square {
	transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
